<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to IIIT-Bangalore PhotoGallery, <%= @user.email %></h1>
    <p>
      You are now admin of <%= @group.name %><br>
    </p>
    <p>
      To login to the site, just follow this link: PhotoGallery.iiitb.ac.in/upload .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
