<div class="page-header">
  <%= link_to group_admins_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_group_admin_path(@group_admin), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show group_admin</h1>
</div>

<dl class="dl-horizontal">
  <dt>Group:</dt>
  <dd><%= @group_admin.group %></dd>

  <dt>User:</dt>
  <dd><%= @group_admin.user %></dd>

</dl>
